.customerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 285px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background: var(--white);
  padding: 15px;
}

.customerInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.name {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.salary,
.company {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.options button {
  background-color: transparent;
  padding: 0;
  border: none;
  width: fit-content;
}

.add {
  width: 17px;
}

.icon {
  width: 20px;
}

.hidden {
  opacity: 0;
  outline: none;
  cursor: default;
}

.remove {
  display: none;
}
