.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}

.submitButton {
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  padding: 12px;
  margin-top: 5px;
}
