.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  max-width: 400px;
}

.modalClose {
  position: absolute;
  top: 8px;
  right: 20px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #0f1729;
  z-index: 999999;
  width: fit-content;
  font-weight: 400;
  border: 0;
  padding: 0;
}
