.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input,
input[type='text'] {
  border: 2px solid var(--alto);
  border-radius: 4px;
  padding: 14px 10px;
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

input[type='number'] {
  padding-left: 30px;
}

.submitButton {
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  padding: 12px;
  margin-top: 5px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputPrefix {
  width: fit-content;
  position: absolute;
  left: 11px;
}
