* {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

#modal-root {
  width: 0;
}

:root {
  --tango: #ec6724;
  --black: #000000;
  --wild-sand: #f5f5f5;
  --white: #ffffff;
  --christine: #e75810;
  --alto: #d9d9d9;
  --silver-chalice: #aaaaaa;
  --mine-shaft: #363636;
  --mine-shaft-darker: #1f1f1f;
  --cod-gray: #141414;
  --ebony: #0f1729;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  background: var(--wild-sand);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 13px 18px;
  font-size: 24px;
  font-weight: 700;
  font-family: inherit;
  background-color: var(--tango);
  color: var(--white);
  cursor: pointer;
  width: 100%;
}

button:disabled {
  background-color: var(--alto);
  color: var(--silver-chalice);
  cursor: not-allowed;
}

input[type='text'] {
  border: 2px solid var(--alto);
  background-color: var(--wild-sand);
  color: var(--silver-chalice);
  border-radius: 4px;
  display: block;
  padding: 14px 18px;
  font-size: 24px;
}

